.footer__container {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.footer__row {
  width: 624px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  border-right: 1px solid var(--border-color);
}
.footer__text {
  margin-right: 50px;
  width: 325px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(18 / 12);

  color: var(--text-color-secondary);
}
.footer__link {
  font-size: 12px;
  line-height: calc(18 / 12);

  color: var(--text-color-secondary);
  border-bottom: 1px solid var(--text-color-secondary);
}
