.servises {
  padding-bottom: 80px;
}
.servises__container {
  display: flex;
  align-items: center;
}
.servises__list {
  display: flex;
  flex-wrap: wrap;
  width: 966px;
  margin-bottom: -30px;
}
.servises__list-item {
  margin-right: 153px;
  margin-bottom: 30px;
}
.servises__list-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 21px;
  line-height: calc(31 / 21);

  color: var(--text-color-secondary);
}

.attendance__item {
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.attendance__link {
  font-size: 14px;
  line-height: calc(21 / 14);

  color: var(--text-color-secondary);
}
.adress__list-item {
  margin-bottom: 30px;
}
.adress__list-text {
  margin-bottom: 10px;

  font-size: 11px;
  line-height: calc(16 / 11);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
  opacity: 0.5;
}
.adress__list-link {
  font-weight: bold;
  font-size: 21px;
  line-height: calc(31 / 21);

  color: var(--text-color-secondary);
  margin-bottom: 15px;
}
.adress-button {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--text-color-primary);
  background: var(--background-secondary);
}
