.btn {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
}
.arrow {
  border: 1px solid white;
  // margin-right: 30px;
  padding: 10px 15px;
  color: white;
}
