.btn {
  padding: 10px 15px;
  font-size: 14px;
  line-height: calc(16 / 14);
  border: none;
  cursor: pointer;
}
.arrow {
  border: 1px solid var(--text-color-primary);
  padding: 10px 15px;
  color: var(--text-color-primary);
  cursor: pointer;
}
